* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

/* header */
header {
    height: 40px;
}

#weather {
    height: 100%;
    width: 100%;
    padding: 10px 20px;
}

#weather {
    height: 100%;
    display: flex;
    justify-content: flex-end; /* justify-content는 가로축 범위 flex-end는 요소들을 컨테이너 우측에 정렬 */
    align-items: center; /*align-items은 세로축 범위*/
    font-size: 14px;
}

/* content */
.content-section {
    flex-grow: 1; /* flex-item요소가 flex-container 내부에서 할당가능한 공간을 선언 */
    display: flex;
    justify-content: center;    
    align-items: center;
}



/* footer */
footer {
    height: 40px;
}

#quote span {
    height: 100%;
    display: flex;
    justify-content: center; /* justify-content는 가로축 범위 flex-end는 요소들을 컨테이너 우측에 정렬 */
    align-items: center; /*align-items은 세로축 범위*/
    font-size: 14px;
}